<aw-wizard>
  <aw-wizard-step stepTitle="Title of step 1">
    <div>
      <h2>Step 1</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac pretium ipsum. Aliquam eu facilisis metus.
      Nunc iaculis cursus purus in fermentum. Ut vitae interdum orci. Sed lobortis, lacus in dignissim rhoncus, lacus
      est volutpat erat, ut condimentum purus mauris id justo. Cras elementum ligula ac ante suscipit, eu facilisis elit
      fermentum. Praesent vitae purus neque. Nam pharetra elit lorem, semper dignissim ante convallis eget. Nunc a
      pharetra augue. Sed suscipit, nibh et accumsan elementum, tellus metus venenatis tortor, vel bibendum nibh tellus
      et purus. Aenean id facilisis tortor. Suspendisse potenti. Proin non feugiat nisl, non feugiat neque. Integer
      condimentum erat vel justo pulvinar molestie. Curabitur consequat consectetur pretium.</p>

      <p>Proin euismod diam ac tellus imperdiet mollis. Praesent eu velit at nulla malesuada aliquam. Praesent et porta
      augue. Maecenas non nulla vel massa feugiat semper. Donec purus urna, viverra sit amet felis sed, molestie aliquet
      ex. Donec at fringilla tellus. Etiam id velit at ligula dignissim pretium id in lectus. Interdum et malesuada
      fames ac ante ipsum primis in faucibus. Praesent tempus congue venenatis. Aliquam tempus orci vitae imperdiet
      vulputate.</p>

      <p>Cras a sagittis tellus. Nullam et dignissim magna. Aliquam eget quam sit amet est congue sollicitudin. Proin
      finibus maximus sapien, ut hendrerit orci congue quis. Vivamus euismod magna eu velit faucibus blandit. Duis nulla
      tellus, luctus vitae blandit non, tempor a erat. Aenean tincidunt nisi in nibh tempus, vitae finibus odio
      elementum. Donec et feugiat nisi. Duis maximus eleifend finibus.</p>

      <p>Vivamus lacinia iaculis lacus consectetur cursus. Mauris eget sodales leo. Suspendisse eget varius enim. Maecenas
      scelerisque est tortor, a tempor dui cursus et. Integer dictum, neque vitae vehicula vestibulum, tortor purus
      condimentum elit, vitae tristique dolor nisi et ligula. Sed ultricies ligula eu augue tincidunt, at elementum
      metus placerat. Maecenas ac dui dignissim, condimentum turpis nec, viverra mauris.</p>

      <p>Ut vestibulum diam a eros volutpat, sodales dictum orci vestibulum. Etiam sit amet dignissim neque. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam vehicula interdum metus, quis
      elementum lectus. Nam mollis et massa eu mattis. Proin bibendum dictum ultrices. Etiam laoreet dui vel lectus
      ullamcorper, ut finibus leo interdum. Donec eget luctus sapien, maximus pulvinar magna. Maecenas finibus nibh et
      nulla ornare, ac interdum ex luctus. Quisque vel mollis orci.</p>
    </div>

    <div class="d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-success" awNextStep>
        Go to next step <i class="fas fa-arrow-right fa-fw"></i>
      </button>
    </div>

  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 2">
    <div>
      <h2>Step 2</h2>

      <p>Nullam consequat nulla vitae turpis faucibus feugiat in in tellus. Integer elementum dolor purus. Donec in posuere
      velit. In metus turpis, dignissim et consectetur in, lobortis eget enim. Donec tristique dignissim vestibulum.
      Pellentesque ut semper felis. Nam ultrices posuere libero et venenatis. Integer feugiat luctus mauris nec mollis.
      Vivamus tempus quam a orci ullamcorper, a pellentesque tortor cursus. Curabitur ullamcorper purus sed bibendum
      pulvinar. Etiam bibendum porta neque, sed iaculis purus ornare eget. Mauris malesuada lacinia quam et elementum.
      Aenean auctor tellus nulla, sed tincidunt odio venenatis in.</p>

      <p>Curabitur dapibus, ipsum non porttitor convallis, ante mi faucibus diam, vitae commodo neque ligula et tortor.
      Integer rhoncus convallis leo, volutpat fringilla felis semper ullamcorper. Mauris vel cursus massa. Ut augue dui,
      sagittis nec dictum in, convallis dictum massa. Integer sit amet lectus eleifend, commodo sapien sed, accumsan
      arcu. Sed ante magna, eleifend vitae luctus eu, sodales ac nibh. Class aptent taciti sociosqu ad litora torquent
      per conubia nostra, per inceptos himenaeos. Vestibulum quis porta metus. Donec ut diam laoreet, convallis neque
      eu, lacinia diam. Duis ut nibh enim. Nulla finibus tristique euismod. Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Vivamus non volutpat est, at semper ipsum. Aenean at massa
      vitae diam sollicitudin lacinia eget a lacus. Vestibulum tincidunt at nunc id fermentum.</p>

      <p>Sed ac tortor scelerisque, efficitur magna sed, faucibus sapien. Aenean massa ex, vulputate vel tristique vel,
      tempus vel ipsum. Sed vulputate a magna ut aliquet. Phasellus felis ipsum, tempor sed dolor vel, malesuada
      suscipit orci. Donec vel quam felis. Etiam tellus est, tincidunt at leo non, pellentesque cursus quam. Nam
      vestibulum pharetra congue. Nullam finibus consectetur mauris, ac luctus mauris auctor sit amet. Phasellus a ex
      pretium, blandit tortor id, suscipit neque. Sed sagittis ipsum ac porta feugiat. Cras porta pulvinar aliquam.
      Donec pharetra vehicula tortor, ut sollicitudin dolor consequat eu.</p>

      <p>Vivamus ultrices nunc ac varius tempus. Ut eget ante ut sapien malesuada ullamcorper. Proin feugiat venenatis
      ligula, vel laoreet quam tristique in. Sed eu luctus diam, id sagittis libero. Mauris nec tortor eu nibh mollis
      rhoncus at sed tortor. Aliquam at ante nec enim consequat consectetur. Morbi feugiat nisi id nisi convallis, et
      maximus massa pellentesque. Nullam vehicula feugiat hendrerit. Nullam ultrices, erat at consectetur dapibus, elit
      lectus pharetra urna, eget condimentum ex est lobortis magna. In rhoncus turpis ut ex maximus egestas. Mauris ac
      dolor sagittis dui commodo sagittis tempus quis elit. In sed sagittis nunc. Donec sed pretium ex. Interdum et
      malesuada fames ac ante ipsum primis in faucibus. Praesent ligula elit, imperdiet et dui vel, mattis malesuada
      sem.</p>

      <p>Nullam congue, elit ac dapibus ultricies, diam dui mattis justo, eget dapibus sem massa maximus dolor. Nam cursus,
      lorem eget efficitur mollis, ex orci fringilla tellus, quis euismod quam quam non eros. Etiam sed dolor lobortis
      dui ornare condimentum. Aenean sed feugiat magna. Nam et magna quis leo porta rhoncus id cursus ex. Curabitur
      consequat cursus sapien nec ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Morbi eget vestibulum nisl, ac finibus mauris. Proin vestibulum convallis nibh, ut posuere felis
      tempus at. Aliquam molestie aliquet eros eu varius. Mauris maximus iaculis vestibulum. In eu felis suscipit,
      euismod eros venenatis, mollis massa. Vivamus feugiat dui eu ligula elementum, id pharetra sem finibus. Etiam et
      accumsan purus, vitae commodo lorem. Phasellus rutrum et velit at dapibus. In sed gravida libero.</p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button type="button" class="btn btn-danger" awPreviousStep>
        <i class="fas fa-arrow-left fa-fw"></i> Go to previous step
      </button>
      <button type="button" class="btn btn-success" awNextStep>
        Go to next step <i class="fas fa-arrow-right fa-fw"></i>
      </button>
    </div>

  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 3">
    <div>
      <h2>Step 3</h2>
      <p>Donec sed ex maximus, convallis nibh sed, lacinia ligula. Sed ac vehicula neque, eu volutpat leo. Praesent dictum
      nulla non interdum imperdiet. Quisque ullamcorper, leo sed consequat auctor, metus diam rhoncus leo, nec vulputate
      tortor nulla id metus. Curabitur elit purus, pretium at accumsan quis, auctor in lectus. Nunc viverra eros sapien,
      eu ullamcorper turpis imperdiet volutpat. Aenean pharetra dapibus blandit. Cras ornare elementum metus, non
      accumsan metus porttitor non. Nullam pretium libero in tellus molestie, non interdum risus efficitur. Praesent
      facilisis dui nec lacus luctus imperdiet.</p>

      <p>Nam vel magna purus. In sit amet lacus non risus facilisis pharetra eget vitae erat. Cras lacus lacus, rutrum at
      aliquet non, dictum non justo. Curabitur et massa sed sem blandit dapibus eu ac libero. Vestibulum aliquet mi
      enim, eu porta risus mollis at. Aliquam consectetur fermentum turpis at fringilla. Duis auctor leo sit amet
      rhoncus vestibulum. Proin at felis ac massa tristique facilisis eget vitae sem. Maecenas volutpat non massa eu
      auctor. Phasellus eu orci sit amet massa placerat efficitur vel sit amet risus. Cras commodo aliquet faucibus. Ut
      convallis elementum sollicitudin. Cras egestas dui in nisl sodales tristique in ut diam. Vivamus eget rutrum
      velit. In dictum ullamcorper bibendum. Suspendisse in urna diam.</p>

      <p>Mauris elementum porttitor vehicula. Pellentesque fermentum metus ut elit scelerisque tincidunt. Vivamus vel lorem
      interdum, iaculis quam sit amet, facilisis erat. Fusce posuere rutrum purus eget malesuada. Ut libero quam,
      blandit sed finibus tincidunt, tempus sit amet augue. Proin dolor dui, interdum in euismod et, consectetur quis
      erat. Nam id velit in ipsum condimentum tristique ut sed lacus. Vivamus facilisis vestibulum lorem quis pulvinar.</p>

      <p>Integer at eros nisi. Donec pharetra nisl risus, et pharetra orci finibus ut. Aenean dignissim sodales ultricies.
      Maecenas finibus blandit diam eu condimentum. In a vehicula ligula, sit amet ultricies tortor. Sed eget egestas
      ante. Ut vulputate, eros quis placerat ornare, erat mauris ullamcorper eros, quis blandit mi mi vitae dui. Mauris
      hendrerit leo justo, pretium malesuada justo tincidunt ac. Etiam congue leo vitae hendrerit sodales. Aenean non
      consequat sem, egestas venenatis augue.</p>

      <p>Etiam eget eros sed ligula fringilla cursus nec porttitor nulla. Cras mollis ante at mollis sagittis. Sed sodales
      lectus et fringilla auctor. Cras sed justo in nibh viverra malesuada vitae eget elit. Suspendisse potenti. Nullam
      molestie nisl eget velit varius maximus. Mauris nec lobortis risus, non vehicula risus. Ut hendrerit luctus nunc
      eu rutrum.</p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button type="button" class="btn btn-danger" awPreviousStep>
        <i class="fas fa-arrow-left fa-fw"></i> Go to previous step
      </button>
    </div>
  </aw-wizard-step>
</aw-wizard>
